.subform {
    padding: 20px 30px;
}

.section_title {
    padding: 5px;
}

.gender {
    margin: 0 30px 0 10px;
}

.btn-area {
    text-align: center;
    padding: 20px
}

.submit {
    border-radius: 1px;
    border: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #b2b2b2;
    background-color: #0067b8;
    text-align: center;
    margin: auto;
    height: 30px;
    width: 200px;
    color: #efefef;
}

.submit:hover {
    color: #efefef;
    border: 0.5px solid #a4a4a4;
    border-top: 1px solid #b2b2b2;
    background-color: #0067b8;
}