@charset "utf-8";

/* mobile（width < 768px） */

html,
body,
.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    height: 52px;
    background-color: #3f4d68;
    color: #fff;
}

.site-branding {
    width: auto;
    font-size: 20px;
    text-align: left;
    height: auto;
    padding: 10px 0 10px 10px;
}

.site-title a {
    text-align: left;
    margin: 0;
    color: #fff;
    text-decoration: none;
}

.site-title a {
    display: inline;
}

.site-title h5 {
    display: inline;
    font-weight: 100;
    margin-left: 15px;
}

.menu-button {
    display: block;
    float: left;
    margin: 0 10px 0 5px;
}

ul,
li {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-content {
    top: 52px;
    bottom: 20px;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.bar-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.left-bar {
    width: 180px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -180px;
    z-index: 99999;
    display: block;
    padding-top: 0;
    background-color: #435770;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: left linear 0.1s;
}

.main-bar {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    position: absolute
}

.admin-box {
    text-align: center;
    color: #fff;
    margin: 40px 0;
}

.admin-box h4 {
    font-weight: 100;
    display: inline-block;
    margin-top: 15px;
}

.certificated-icon {
    display: inline-block;
    margin: -6px 0 0 5px;
}

.admin-box h5 {
    font-size: 12px;
    font-weight: 100;
    margin: 0 60px;
}

.userPic {
    display: block;
    width: 60px;
    height: 60px;
    padding: 2px;
    margin: auto;
    border-radius: 50%;
}

footer {
    position: absolute;
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3f4d68;
}

.copyright {
    color: #fff;
    display: block;
    padding: 3px 0;
}

.copyright-text {
    margin: 0;
    padding: 0 20px;
    font-weight: 400;
}

.shelter {
    display: none;
    position: fixed;
    background-color: transparent;
    height: 100%;
    width: 100%;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}


/* alert/comfirm */

.verticalAlign {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -1px;
}

.xcConfirm .xc_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f4d68;
    opacity: 0.85;
    z-index: 2147000000;
}

.xcConfirm .popBox {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    z-index: 2147000001;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -120px;
    border-radius: 5px;
    font-weight: bold;
    color: #535e66;
}

.xcConfirm .popBox .ttBox {
    height: 50px;
    line-height: 30px;
    padding: 14px 30px;
    border-bottom: solid 1px #eef0f1;
}

.xcConfirm .popBox .ttBox .tt {
    font-size: 18px;
    display: block;
    float: left;
    height: 30px;
    position: relative;
}

.xcConfirm .popBox .ttBox .clsBtn {
    display: block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 22px;
    right: 30px;
    background: url(../src/alert/icons.png) -48px -96px no-repeat;
}

.xcConfirm .popBox .txtBox {
    margin: 20px 30px;
    height: 70px;
    overflow: hidden;
}

.xcConfirm .popBox .txtBox .bigIcon {
    float: left;
    margin-right: 20px;
    width: 48px;
    height: 48px;
    background-image: url(../src/alert/icons.png);
    background-repeat: no-repeat;
    background-position: 48px 0;
}

.xcConfirm .popBox .txtBox p {
    height: 84px;
    margin-top: 16px;
    line-height: 26px;
    overflow-x: hidden;
    overflow-y: auto;
}

.xcConfirm .popBox .txtBox p input {
    width: 364px;
    height: 30px;
    border: solid 1px #eef0f1;
    font-size: 18px;
    margin-top: 6px;
}

.xcConfirm .popBox .btnArea {
    border-top: solid 1px #eef0f1;
}

.xcConfirm .popBox .btnGroup {
    float: right;
}

.xcConfirm .popBox .btnGroup .sgBtn {
    margin-top: 5px;
    margin-right: 10px;
}

.xcConfirm .popBox .sgBtn {
    display: block;
    cursor: pointer;
    float: left;
    width: 95px;
    height: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
}

.xcConfirm .popBox .sgBtn.ok {
    background-color: #0095d9;
    color: #FFFFFF;
}

.xcConfirm .popBox .sgBtn.cancel {
    background-color: #546a79;
    color: #FFFFFF;
}


/* filter-table */

.filter-table .quick {
    margin-left: 0.5em;
    font-size: 0.8em;
    text-decoration: none;
}

.fitler-table .quick:hover {
    text-decoration: underline;
}

td.alt {
    background-color: rgb(73, 165, 226, 0.2);
}

.icon-not-allowed {
    color: rgb(180, 21, 21);
    position: relative;
    top: 1px;
    left: 5px;
}

.li-not-allowed a:link {
    cursor: not-allowed;
    background-color: rgb(30, 38, 48);
}


/* main-bar > box */

.box {
    padding-top: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    display: none;
    background-color: #f5f5f5;
    clear: both;
    border-top: 1px solid #ccc;
}

.box-active {
    display: block;
}

.title {
    border-bottom: 1px solid #888;
    float: none;
    background-color: #fff;
}

.title-left {
    margin: 0;
    padding: 10px 0;
}

.filter-table {
    position: absolute;
    top: 7px;
    right: 10px;
}

.inner-box {
    overflow: auto;
    padding: 10px;
    margin: 0;
}


/* table */

table {
    width: 100% !important;
    overflow-x: auto;
    border: 1px solid #ccc;
    background-color: #fff;
}

table a {
    color: #000000;
    text-decoration: underline;
}

table a:hover {
    color: #0067b8;
    text-decoration: underline;
}

th,
td {
    text-align: center;
    min-width: 85px;
    padding: 10px 7.5px;
    border-bottom: 0.5px solid #bbbbbb;
}

th {
    border-bottom: 1px solid #b5c7d6;
    border-right: 1px solid #b5c7d6;
    background-color: #f5f5f5;
}

th:last-child {
    border-right: 0;
}

.table-update-btn:link {
    background-color: transparent;
    border: 0;
    text-decoration: none;
}

.table-update-btn i {
    font-size: 24px;
    color: #1296db;
}

@media (min-width: 768px) {
    .menu-button {
        display: none;
    }
    .left-bar {
        left: 0;
    }
    .main-bar {
        left: 180px;
    }
}

@media (min-width: 992px) {}