.box {
    margin-bottom: 15px;
}

.employee-info-box,
.dish-info-box,
.table-info-box {
    padding: 10px 30px;
}

.employee-info-box .employee-pic-wrap,
.dish-info-box .dish-pic-wrap {
    width: 104px;
    height: 104px;
    border: 1px solid #888;
    display: inline-block
}

.employee-info-box .employeePic,
.dish-info-box .dishPic {
    width: 100px;
    height: 100px;
}

.employee-info-box .employee-info-wrap,
.dish-info-box .dish-info-wrap,
.table-info-box .table-info-wrap {
    display: inline-block;
    position: relative;
    left: 20px;
    top: 30px;
}

.employee-info-box .employee-name,
.dish-info-box .dish-name,
.table-info-box .table-number {
    font-size: 24px;
    font-weight: 500;
    display: block;
    position: static;
    padding: 0 10px;
}

.employee-info-box .employee-type,
.dish-info-box .dish-type,
.dish-info-box .dish-price,
.table-info-box .table-defNum,
.table-info-box .table-ordSta {
    padding: 0 20px;
}

.btn-area {
    padding-top: 10px;
}

.btn-delete {
    background-color: rgb(199, 0, 0);
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #e73f3f;
    border-radius: 3px;
}

.box-title {
    position: static;
    border-bottom: 1px solid #efefef;
    padding: 15px;
    padding-left: 20px;
}

.box-arrow:link {
    position: relative;
    float: right;
    top: -35px;
    color: #000;
    text-decoration: none;
}

.pic-outer-wrap {
    max-width: 500px;
}

.btn-area {
    padding-top: 30px;
}

.del-confirm {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -200px;
    z-index: 100;
    width: 320px;
    padding: 20px;
    padding-top: 30px;
    border-radius: 1px;
    color: #000;
    background-color: #fff;
}

.del-confirm .subform {
    padding: 20px 10px;
}

.del-confirm h5 {
    padding: 0 10px;
}

.del-confirm .form-group input {
    margin: auto;
    border: 0;
    border-bottom: 1px solid #4b9cfa;
    width: 100%;
    height: 30px;
}

.del-confirm input.error {
    border-bottom: 1px solid red !important;
}

.del-confirm label.error {
    width: 100%;
}

.del-confirm .btn-area {
    text-align: right;
    margin: 0;
    padding: 15px 0 !important;
}

.del-confirm .cancel {
    display: inline-block;
    border-radius: 1px;
    border: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #b2b2b2;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    color: #303a4d;
}

.del-confirm .submit {
    display: inline-block;
    width: 100px !important;
}

.del-confirm .submit_delete {
    background-color: #bb3232 !important;
}